.split-layout {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  &--dragging {
    cursor: col-resize;
    user-select: none;

    .split-layout__left,
    .split-layout__right {
      pointer-events: none;
    }
  }

  &__left,
  &__right {
    overflow: auto;
    height: 100%;
  }

  &__left {
    flex-shrink: 0;
  }

  &__right {
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__splitter {
    position: relative;
    width: 8px;
    flex-shrink: 0;
    cursor: col-resize;
    background: #e0e0e0;
    transition: background 0.2s;

    &:hover,
    &:focus {
      background: #bbb;
      outline: none;
    }

    &:active {
      background: #999;
    }
  }

  &__splitter-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 40px;
    background: #fff;
    border-radius: 2px;
    pointer-events: none;
  }
}
